// Vendor
@mixin vendor($key, $value) {
    #{'-moz-' + $key}: $value;
    #{'-webkit-' + $key}: $value;
    #{'-ms-' + $key}: $value;
    #{$key}: $value
}

// Reusable components (Scroll bar)
$amount-of-items-in-scroll: 5;
$scroll-width: 50vw;
$scroll-item-width: #{$scroll-width / $amount-of-items-in-scroll};
$max-xCords: calc(-#{$scroll-item-width} * 12);

* {
    margin: 0;
    padding: 0;
    @include vendor(box-sizing, border-box);
}

body {
    @include vendor(font-family, sans-serif);
}


// Main
#home-section {
    @include vendor(overflow, hidden);
    width: 100vw;
    height: 100vh;

    // Placement
    @include vendor(display, flex);
    justify-content: center;
    align-items: center;
    
    // Scroll Controller
    #scroll-section {
        @include vendor(overflow, hidden);
        width: $scroll-width;
        height: 100vh;
        position: relative;
        
        @include vendor(display, flex);
        align-items: center;

        // Moveable object
        #scroll-roller {
            width: auto;
            position: absolute;
            @include vendor(user-select, none);

            @include vendor(display, flex);
            gap: 1rem;
            
            // Items
            .items, img {
                list-style: none;
                width: $scroll-item-width;
                border-radius: 10px;

                // Placement
                @include vendor(display, flex);
                justify-content: center;
                align-items: center;
                @include vendor(white-space, nowrap);
            }
        }
    }
}