* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -moz-font-family: sans-serif;
  -webkit-font-family: sans-serif;
  -ms-font-family: sans-serif;
  font-family: sans-serif;
}

#home-section {
  -moz-overflow: hidden;
  -webkit-overflow: hidden;
  -ms-overflow: hidden;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  -moz-display: flex;
  -webkit-display: flex;
  -ms-display: flex;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home-section #scroll-section {
  -moz-overflow: hidden;
  -webkit-overflow: hidden;
  -ms-overflow: hidden;
  overflow: hidden;
  width: 50vw;
  height: 100vh;
  position: relative;
  -moz-display: flex;
  -webkit-display: flex;
  -ms-display: flex;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home-section #scroll-section #scroll-roller {
  width: auto;
  position: absolute;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-display: flex;
  -webkit-display: flex;
  -ms-display: flex;
  display: -webkit-box;
  display: flex;
  gap: 1rem;
}

#home-section #scroll-section #scroll-roller .items, #home-section #scroll-section #scroll-roller img {
  -moz-position: relative;
  -webkit-position: relative;
  -ms-position: relative;
  position: relative;
  list-style: none;
  width: 10vw;
  border-radius: 10px;
  -moz-display: flex;
  -webkit-display: flex;
  -ms-display: flex;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home-section #scroll-section #scroll-roller .items .items-title, #home-section #scroll-section #scroll-roller img .items-title {
  -moz-position: absolute;
  -webkit-position: absolute;
  -ms-position: absolute;
  position: absolute;
  top: 50%;
  width: 100%;
  padding: .5rem;
  font-weight: bold;
  color: white;
  -moz-overflow-wrap: break-word;
  -webkit-overflow-wrap: break-word;
  -ms-overflow-wrap: break-word;
  overflow-wrap: break-word;
  -moz-word-wrap: break-word;
  -webkit-word-wrap: break-word;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

#home-section #scroll-section #scroll-roller .items:hover, #home-section #scroll-section #scroll-roller img:hover {
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#home-section #scroll-section #scroll-roller .items:active, #home-section #scroll-section #scroll-roller img:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
/*# sourceMappingURL=main.css.map */